@font-face {
    font-family: 'Proxima Nova Alt Bold';
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    src: local('Proxima Nova Alt Bold'), url(../../fonts/Mark-Simonson-Proxima-Nova-Alt-Bold.woff) format("woff");
}

@font-face {
    font-family: 'Proxima Nova Alt Regular';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    src: local('Proxima Nova Alt Regular'), url(../../fonts/Mark-Simonson-Proxima-Nova-Alt-Regular.woff) format("woff");
}

@font-face {
    font-family: 'Proxima Nova Alt Light';
    font-weight: lighter;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    src: local('Proxima Nova Alt Light'), url(../../fonts/Mark-Simonson-Proxima-Nova-Alt-Light.woff) format('woff');
}