.modals-default {
  .ant-modal {
    width: auto !important;
    height: 100vh;
    top: 0;
    .ant-modal-content {
      width: 800px;
      top: 20px;
      @extend .no-float;
      .ant-modal-body{
        overflow: auto;
        height: calc(100vh - 100px);
      }
    }
  }
}
