.bof-tooltip{
    position: relative;
    span {
      padding: 8px 15px;
      display: inline-block;
      position: relative;
      border-radius: 3px;
      background-color: $purple;
      color: $white;
      font-family: 'Proxima Nova Alt Bold';
      font-size: 13px;
    }
    
    span:before {
        content: '';
        position: absolute;
        top: 11px;
        left: -16px;
        border: 8px solid;
        border-color: transparent #56446F transparent transparent;
    }
}