.bof-slide-toggle {
    width: 168px;
    height: 36px;
    border-radius: 18px;
    border: solid 1px #eef1f5;
    position: relative;
    background: #ffffff;
    padding: 0;
    font-size: 13px;
    font-family: 'Proxima Nova Alt Regular'
}

.bof-slide-toggle:hover { border-color: #d5d5d5; }

.bof-slide-toggle input.input-switch {
    position: absolute;
    opacity: 0;
    z-index: -10;
}

.bof-slide-toggle span.switch-bg {
    position: absolute;
    z-index: 0;
    left: 50%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    width: 80px;
    height: 29px;
    border-radius: 18px;
    background-color: #00ddcd;
    top: 3px;
}

.bof-slide-toggle span.switch-labels {
    position: absolute;
    z-index: 1;
    width: inherit;
    height: inherit;
}

.bof-slide-toggle span.switch-labels:before, .bof-slide-toggle span.switch-labels:after {
    height: 40px;
    width: 50%;
    line-height: 36px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    text-align: center;
}

.bof-slide-toggle span.switch-labels:before {
    content: attr(data-on);
    left: 0;
    position: absolute;
    color: $light-black;
}

.bof-slide-toggle span.switch-labels:after {
    content: attr(data-off);
    position: absolute;
    right: 7px;
    color: #fff;
}

.bof-slide-toggle label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.bof-slide-toggle .input-switch:checked ~ .switch-bg {
    left: 4px;
    background-color: #00ddcd;
}
.bof-slide-toggle .input-switch:checked ~ .switch-labels:before { color: #fff; }
.bof-slide-toggle .input-switch:checked ~ .switch-labels:after { color: $light-black; }
  
  