/* Fonts */
@import "base/typography";

/* Abstracts */
@import "abstracts/variables";
@import "abstracts/icons";
@import "abstracts/animations";
@import "abstracts/colors";
@import "abstracts/mixins";
@import "abstracts/keyframes";
@import 'abstracts/layout';

/* Components */
@import "components/forms";
@import "components/loaders";
@import "components/buttons";
@import "components/popups";
@import "components/modals";

/* Reset */
@import "base/reset";

.body { font-family: 'Poppins', sans-serif; }
.f-14 { font-size: 14px; }
.f-40 { font-size: 40px; }
.text-center { text-align: center; }

.btn-default-rappi {
  background-color:  $cr-rappi;
  color: $white;
  border-color: $cr-rappi;
}
.btn-primary-rappi {
  @extend .btn-default-rappi;
  &:hover, &:focus, &:active {
    @extend .btn-default-rappi;
  }
}

.btn-active {
  @extend .btn-default-rappi;
  &:focus {
    @extend .btn-default-rappi;
  }
}
.push-left {  float: left; }
.push-right {  float: right; }
.inline-block {  display: inline-block }
.none { display: none }
.pointer { cursor: pointer }
.horizontal-content { margin-bottom: 30px; }

.no-float {
  display: block;
  margin: 0 auto;
}

.form-control {
  display: block;
  padding: 11px 10px;
  border: 1px solid #0984ff00;
  background-color: #f7f7f7;
  font-size: 14px;
  color: #333333;
  width: 290px;
  height: 40px;
  border-radius: 8px 0 0 8px;
}
.ant-input-group-addon {
  background-color: #f7f7f7;
  border: 0;
  border-radius: 0 8px 8px 0;
}


code.sql {
  font-family: monospace;
  background-color: #000;
}

.sql-hl-keyword {
  color: #f000f0;
}
.sql-hl-function {
  color: #ff0000;
}
.sql-hl-number {
  color: #00ff00;
}
.sql-hl-string {
  color: #00ff00;
}
.sql-hl-special {
  color: #ffff00;
}
.sql-hl-bracket {
  color: #ffff00;
}
